/* Grey Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #bbc6ce;
  --primary-hover: #9e9e9e;
  --primary-focus: rgba(117, 117, 117, 0.25);
  --primary-inverse: #fff;
  /* comment */
  --color: #bbc6ce;
  --background-color: #333333;
  --card-background-color: #c5c5c5;
  --card-border-color: var(--card-background-color);
  --card-sectionning-background-color: #38393d;
  --muted-border-color: #292a2d;
}

/* Grey Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #bbc6ce;
    --primary-hover: #9e9e9e;
    --primary-focus: rgba(117, 117, 117, 0.25);
    --primary-inverse: #fff;
    /* comment */
    --color: #3d3d29;
    --background-color: #222222;
    --card-background-color: #efefd6;
    --card-border-color: var(--card-background-color);
    --card-sectionning-background-color: #38393d;
    --muted-border-color: #292a2d;
  }
}

/* Grey Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #bbc6ce;
  --primary-hover: #9e9e9e;
  --primary-focus: rgba(117, 117, 117, 0.25);
  --primary-inverse: #fff;
  /* comment */
  --background-color: #2a2b2e;
  --card-background-color: #292a2d;
  --card-border-color: var(--card-background-color);
  --card-sectionning-background-color: #38393d;
  --muted-border-color: #292a2d;
}

/* Grey (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://arc.net/grid.svg);
  background-position: 50% 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-attachment: fixed;
  background-repeat: repeat;
}

a {
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-fluid-6);
}

h2 {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-fluid-1);
  margin-bottom: 20px;
}

p {
  font-family: var(--font-sans);
  font-size: var(--font-size-fluid-5);
  line-height: var(--font-lineheight-3);
}

article {
  margin-top: 4vh;
  margin-bottom: 5vh;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
