---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import SpinningDesk from "../components/SpinningDesk.astro";
import { Container } from "../components/desk/Container";

export interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width initial-scale=1"
    />
    <title>jdlms.dev</title>
    <ViewTransitions />
  </head>
  <body class="full-page-style">
    <main class="container">
      <Nav />
      <div class="h-44 md:h-88">
        <Container client:only="react" transition:persist />
      </div>
      <div id="break"></div>
      <slot />
      <Footer />
    </main>

    <style>
      @import "../styles/global.css";
      @import "open-props/style";
      @import "open-props/fonts";

      #break {
        @apply h-[1px] bg-my-accent w-4/6 md:w-4/5 mx-auto rounded mb-6 mt-2 md:mb-10 md:mt-3;
      }
    </style>
  </body>
</html>
